<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual</title>
    <link rel="stylesheet" href="styles/viewer.css">
</head>
<body>
    <div class="top-bar">
        <!--top bar-->
    <header class="top-bar">
        <div class="logo" onclick="window.location.href='dashboard.html'">Taller<span>Mecánico</span></div>
        <button class="logout-btn" onclick="window.location.href='login.html'">Cerrar sesión</button>
    </header>
    </div>
    <iframe id="pdfViewer" style="width: 100%; height: 100vh;" frameborder="0"></iframe>

    <script>
        // Obtener el parámetro "file" de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const file = urlParams.get('file');

        // Verificar si se especificó un archivo
        if (file) {
            const filePath = `content/${file}`;
            document.getElementById('pdfViewer').src = filePath; // Cargar el PDF desde la URL
        } else {
            document.body.innerHTML = "<p>Error: No se especificó un archivo.</p>";
        }
    </script>
</body>
</html>

